[Unit]
Description=Discord Rich Presence for MPD
Requires=mpd.service
After=mpd.service

[Service]
ExecStart=/usr/local/bin/mpd_discord_richpresence

[Install]
WantedBy=multi-user.target

